<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Here's your screenshots for <%= @screenshot.url %></h2>
    <p><%= @screenshot.description %></p>
    <p>Resend your screenshots from <a href="http://responsiveshots.com/screenshots/<%= @screenshot.id %>&token=<%= @screenshot.token %>&email=<%= @screenshot.email %>">here.</a></p>
    <%= link_to screenshot_path(@screenshot,
                          :token => @screenshot.token, 
                          :email => @screenshot.email)
  </body>
</html>